<mat-toolbar color="primary" id="title">
  Café Leblanc / Artwork by
  <a href="https://www.artstation.com/quibees" target="_blank">Anastasiya Osichkina</a>
  From<a href="https://atlus.com/persona5/" target="_blank">Persona 5</a>by Atlus
</mat-toolbar>
<mat-card>

  <mat-card-title>Radio Stations</mat-card-title>

  <button class="lofi" [color]="lofiColor" mat-raised-button (click)="lofi(radio)">Lofi</button>

  <button class="dubstep" [color]="dubstepColor" mat-raised-button (click)="dubstep(radio)">Dubstep</button>

  <button class="gaming" [color]="gamingColor" mat-raised-button (click)="gaming(radio)">Gaming</button>

  <button class="indie" [color]="indieColor" mat-raised-button (click)="indie(radio)">Indie</button>

  <button class="jazz" [color]="jazzColor" mat-raised-button (click)="jazz(radio)">Jazz</button>

  <button class="stop" color="warn" mat-raised-button (click)="stop(radio)">Stop Radio</button>

  <mat-card-title><a [href]="radioSource">{{ radioStation }}</a></mat-card-title>

</mat-card>
<div>
  <iframe #radio width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
