<mat-toolbar color="primary" id="title">
  <a src="https://www.artstation.com/quibees" target="_blank"> Café Leblanc by Anastasiya Osichkina</a>
</mat-toolbar>
<!-- <div class="grid-container"> -->
    <!-- <div class="grid-x"> -->
      <!-- <mat-card> -->
      <!-- <img src="/assets/radio-24px.svg" (click)="controlRadio(radio)"/> -->


        <div class="column medium-6" id="living-room-image">
          <iframe #radio width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <!-- </mat-card> -->
      <!-- <mat-card> -->
        <!-- <div class="column medium-6" id="bed-room-image"></div> -->
        <!-- </mat-card> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <h1>Is there anotha way</h1>

<mat-card>
  <button color="accent" mat-raised-button (click)="controlRadio(radio)">Radio</button>
  <button class="lofi hide" color="accent" mat-raised-button (click)="lofi(radio)">Lofi</button>
  <button class="dubstep hide" color="accent" mat-raised-button (click)="dubstep(radio)">Dubstep</button>
  <button class="gaming hide" color="accent" mat-raised-button (click)="gaming(radio)">Gaming</button>
  <button class="stop hide" color="primary" mat-raised-button (click)="stop(radio)">Stop Radio</button>
  </mat-card> -->
