mat-card {
  margin: 0 auto;
  /* margin-top: 250px; */
  /* margin-bottom: 30px; */
  width: 50%;
  background-color: white;
  color: black;
  text-align: center;
  opacity: 0.75;
  margin-top: 20px;
  border-radius: 100px;
}

h1 {
  position: fixed;
}

.stop {
  margin-bottom: 20px;
}

/* .example-spacer {
  flex: 1 1 auto;
} */

a {
  margin-left: 5px;
  color: #E91E62;
}

a:hover {
  color: black;
}

/* @media (max-width: 1000px) {
  mat-card {
    margin: 0px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 0px;
    opacity: 0.60;
  }
} */

#title {
  padding-left: 30px;
  font-size: 24px;
}

.hide {
  visibility: hidden;
}

button {
  margin: 10px;
  width: 20%;
}

.apartmentRadio {
  position: relative;
  width: 6%;
  height: 6%;
  right: -115px;
  bottom: 5px;
}

.apartmentRadio:hover {
  opacity: 0.60;
}

@media (max-width: 1680px) {
  .apartmentRadio {display:none;}
}

h1 {
  margin-bottom: 0px;
}

/* #video-container {
  text-align: center;
} */

#living-room-image {
  /* background-image: url("/assets/AnimeRoomNight.jpg"); */
  padding: 142px;
  padding-right: 172px;
  background-size: 875px 605px;
  /* border-right: solid;
  border-bottom: solid;
  border-top: solid; */
  position: fixed;
  /* max-width: 100%; */
  /* position: fixed; */
  /* min-width: 700px; */
  /* min-width: 100%; */
   /* height: auto;
   width: auto */
}

.grid-container {
  margin: 0 auto;
}

#bed-room-image {
  background-image: url("/assets/AnimeBedroom.jpg");
  padding: 101px;
  background-size: 897px 525px;
  border-bottom: solid;
  border-top: solid;
  /* position: fixed; */
  /* min-width: 700px; */
  /* min-width: 100%; */
   /* height: auto;
   width: auto */
}

/* Kiki's House
https://cdn.myanimelist.net/s/common/uploaded_files/1450839009-f9bf204c664b0498f9d288b9857f071d.jpeg */
