/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url("dist/apartment/assets/CafeLeblanc.jpg");
  background-repeat: no-repeat;
  background-size: 1792px 1090px;
}
