/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/020/179/209/4k/anastasiya-osichkina-leblancrgb-color-fin2.jpg?1566730414");
  background-repeat: no-repeat;
  background-size: 1792px 1090px;
}
